.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    height: 100%;
  }
  
  .dashboard-body {
    flex-grow: 1;
    padding: 2rem;
  }
  